extends layout 

block content 
    main.section-white
        h1 Események
        hr

        .text-center
            for event in events
                a(href=makeEventUrl(event)).row.event-row
                    .col-sm
                        p.fw-bold= event.name
                    .col-sm
                        p= stripEventName(event.text)
                    .col-sm
                        p.text-muted= event.place
                    .col-sm
                        p.text-muted= formatDate(event.date)

    div(style="margin-bottom:500px;")
