a(href=makeEventUrl(event), style="border-radius: 15px !important;").row.section-white.event-row
    .col-sm
        p.fw-bold= event.name
    .col-sm
        p= stripEventName(event.text)
    .col-sm
        p.text-muted= event.place
    .col-sm
        p.text-muted= event.date1