extends layout 

block content 
    h1 Search

    form(action="/search/event", method="POST")
        input(type="text", name="q_event", placeholder="Keresés esemenyekre").form-control
        input(type="submit", name="submit").btn.btn-primary

    br
    br

    form(action="/search/user", method="POST")
        input(type="text", name="q_user", placeholder="Keresés emberekre").form-control
        input(type="submit", name="submit").btn.btn-primary

    br
    br

    if results && result_type=="event"
        h2 Eredmények:
        br

        for res in results
            a(href=makeEventUrl(res))
               span.mr-5= res.id
               span= res.name

    if results && result_type=="user"
        h2 Eredmények:
        br

        for res in results
            a(href=makeUserUrl(res))
               span.mr-5= res.id
               span= res.name
