extends layout 

block content 
    h1 User
    p= is_friend

    if user.id != view_user.id
        if is_friend.is_approved == 1
            a(href="/user/"+view_user.id+"/unfriend").btn.btn-outline-danger - Barát törlés
        else 
            a(href="/user/"+view_user.id+"/friend").btn.btn-success + Barátnak jelölés

    br
    p= view_user.id
    br
    p= view_user.name
    br
    p= view_user.email
    br
    p= view_user.password
